html {
  height: 100%;
}

body {
  position: relative;
}


/* Page layout */

.page-section {
  width: 100%;
  display: block;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px 0;
}

.scrollable-area--x {
  direction: ltr;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

.scrollable-area--y {
  direction: ltr;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: $link-color;
  &:hover,
  &:focus,
  &.active {
    text-decoration: none;
    color: darken($link-color, 25%);
    cursor: pointer;
  }
}

a:focus {
  outline: none;
  outline-offset: -2px;
}


/* Helper classes */

small {
  font-size: 12px;
}

.text-color--primary {
  color: $primary-color;
}

.text-color--secondary {
  color: $secondary-color;
}

.text-color--gray {
  color: $text-color;
}

.text-color--light {
  color: $text-color-light;
}

.text-color--white {
  color: $text-color-white;
}

.text-lead {
  font-size: 1.1em;
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.ui-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.hor-spacer--s {
  margin: 0 5px;
}

.hor-spacer--m {
  margin: 0 15px;
}

.hor-spacer--l {
  margin: 0 20px;
}

.spacer-lg {
  position: relative;
  display: block;
  height: auto;
  clear: both;
  padding: 50px 0;
}

.spacer-md {
  position: relative;
  display: block;
  height: auto;
  clear: both;
  padding: 25px 0;
}

.spacer-sm {
  position: relative;
  display: block;
  height: auto;
  clear: both;
  padding: 10px 0;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-alight: right;
}

.relative {
  position: relative;
}

.z-depth--1 {
  box-shadow: 2px 2px 5px 0px rgba(171, 171, 171, 0.50);
}

.reset-padding {
  padding: 0;
}

.reset-margin {
  margin: 0;
}

.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.padded-sm {
  padding: 10px;
}

.padded-md {
  padding: 25px;
}

.empty-content--center {
  position: relative;
  margin: 3em;
  text-align: center;
  img {
    margin: auto;
    height: 100px;
  }
  p {
    font-size: 1em;
    padding: 0 2.5em;
  }
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-bottom: 1px solid $border-color-light;
}

.vertically-outer {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container--border-left {
  border-left: solid 1px $border-color-light;
  min-height: 900px;
}

.container--border-right {
  border-right: solid 1px $border-color-light;
  min-height: 900px;
}